 /* Add a gray background color and some padding to the footer */
 footer {
   background-color: #f2f2f2;
   padding: 25px;
 }

 .carousel-inner img {
   width: 100%;
   /* Set width to 100% */
   margin: auto;
   min-height: 200px;
 }

 /* Hide the carousel text when the screen is less than 600 pixels wide */
 @media (max-width: 600px) {
   .carousel-caption {
     display: none;
   }
 }

 body {
   background-color: lightgray;
 }

 h1 {
   color: pink;
   font-family: arial, sans-serif;
   font-size: 16px;
   font-weight: bold;
   margin-top: 0px;
   margin-bottom: 1px;
 }

 #submit {
   color: #fff;
   font-size: 0;
   width: 135px;
   height: 60px;
   border: none;
   margin: 0;
   padding: 0;
   background: #0c0 url(image) 0 0 no-repeat;
 }